body{
    padding: 0;
    margin: 0;
    background-image: url("portfolio.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana;
    max-width: auto;
}
 h1,h3{
color: honeydew;
font-size: 2vw;
 }

span{
    color: antiquewhite;
}
.competences{
  display:block;
 align-items: center;
 justify-content: center;
 background-color: rgb(58, 51, 42);
 padding: 2vw;
width: 45%;
 border-radius: 5%;
 height:max-content;
 
}
.navbar{
    width: 100%;
}
#accordion{
    width: 45%;
    background-color: rgb(58, 51, 42);
    padding: 2vw;
    border-radius: 5%;

  
}
button{
    animation: moving 3s linear;
}
.progress{
    animation: moving 3s linear;
}
@keyframes moving {
0% {
opacity: 0;
transform: translateY(-40%)
 }
20% {
opacity: 0.2;
    transform: translateY(-30%)
}
30% {
opacity: 0.4;
transform: translateY(-20%)
}
40% {
opacity: 0.6;
transform: translateY(-10%)
}
60% {
    opacity: 0.8;
      transform: translateY(0%)
    }
100%{
opacity: 1;
transform:translateY(0%)
}
}
#middle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vw;
  
}
.jumbotron{
    height: 5vw;
    text-align: center;
    background-color: rgb(228, 183, 125);
    vertical-align: middle;
    width: 100%;
    border-radius: 0;
    border-top:0.2vw solid black;
    border-bottom:0.2vw solid black;
}
@media only screen and (max-width: 500px) {
    #middle{
        display: flex;
        flex-direction: column;
        margin-bottom: 10vw;
      
    }
    #accordion{
        width: 90%;
        margin: auto;
    }
    .competences{
        width: 90%;
        margin: auto; 
        margin-top: 2vw;
        margin-bottom: 10vw;
    }
    h1,h3{
      
        font-size: 3vw;
         }
    
  }
  html {
    position: relative;
    min-height: 100%;
}
 
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color:rgb(39, 35, 35);
    color: honeydew;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
   
}
.contacts{
display: block;
  
}
a{
    color: inherit;
  
}
a:hover{
text-decoration: none;
}
 